<div id="wrapper" class="flex h-[calc(100vh-78px)]">
  <div id="books" class="bg-red-100 w-56">1</div>
  <div id="notes" class="bg-orange-100 w-56">2</div>
  <div id="content" class="bg-yellow-50 w-full">3</div>
</div>
